body {
    background-color: #66666671; /* Color de fondo */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
h1{
    text-align: center;
    color: black;
}
p{
    text-align: center;
    color: black;
}
table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
}
th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}
th {
    background-color: #303E49;
    color: white;
}
img{
    width: "200";
    align-items: center;
}
footer {
    background-color: #666666;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
/* Diseño responsive */
@media (max-width: 768px) {
    table {
        font-size: 14px;
    }
    th, td {
        padding: 8px;
    }
}

@media (max-width: 480px) {
    table {
        font-size: 12px;
    }
    h1 {
        font-size: 20px;
    }
}

